.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #6d6d6d  0%, #292929 74%);
    border: 2px solid rgba(0, 0, 0, 0.329);
    box-shadow: 2px 4px 6px black;
  }